/*.header-container {
  width: 100%;
  height: 4.5em;
  background-color: #b00909;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container {
  height: 100%;
  width: fit-content;
  display: flex;
  column-gap: 1em;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  padding: 0 10px;
  color: white;
  cursor: pointer;
}

.div2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
}

.header-nav-element first {
  margin-left: 1em;

}

#pdf-search {
  display: flex;
  align-self: center;
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 0.6em;
  background-color: #eeeeee;
  text-indent: 1em;
  color: #b00909;
  max-width: 1000px;
  margin-right: 2em;
}*/



.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5em;
  background-color: #b00909;
  color: white;
}

.header-left-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  min-width: 505px;
}

.header-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2em;
  /*border: 1px blue solid;*/
}

#pdf-search {
  display: flex;
  margin: auto;
  justify-self: center;
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 0.6em;
  background-color: #eeeeee;
  text-indent: 1em;
  color: #b00909;
}

.app-name {
  font-size: 3em;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 0.5em;
  cursor: default;
}

.header-nav-element {
  align-self: center;
  margin-left: 2em;
  height: 80%;
  padding-left: 0.25em;
  padding-right: 0.25em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4em;
}

.header-nav-element:hover {
  background-color: white;
  color: #b00909;
  border-radius: 6px;
}
