<header class="header-container">
  <!--<div class="button-container">
    <span routerLink="/overview" class="header-nav-element">
      Overview
    </span>
    <span routerLink="/upload" class="header-nav-element">
      Upload
    </span>

  </div>
  <div class="div2">
    <input id="pdf-search" type="text" placeholder="Search...">
  </div>-->

  <span class="header-left-container">
    <span class="app-name">
      PdfStore
    </span>

    <span routerLink="/overview" class="header-nav-element">
      Overview
    </span>
    <span routerLink="/upload" class="header-nav-element">
      Upload
    </span>
  </span>
  <span class="header-right-container">
    <!--<div class="overview-container">
      <input id="pdf-search" type="text" placeholder="Search...">
    </div>-->
  </span>
</header>
