<div class="overview-container">
  <input id="pdf-search" type="text" placeholder="Search..." [(ngModel)]="search_title">
  <span id="search-expand-details">
    <span *ngIf="expand_detail_view" class="material-symbols-outlined details-expand-style" (click)="showDetailView()">expand_less</span>
    <span *ngIf="!expand_detail_view" class="material-symbols-outlined details-expand-style" (click)="showDetailView()">expand_more</span>
  </span>
  <span id="pdf-search-button" (click)="search()"><span class="material-symbols-outlined pdf-search-icon">search</span></span>
</div>
<div *ngIf="expand_detail_view" class="detailed-search">
  <div class="detail-view1">
    <input class="detail-search-input" placeholder="Author..." [(ngModel)]="search_author">
    <input class="detail-search-input" placeholder="Tags..." [(ngModel)]="search_tags">
  </div>
  <div class="detail-view2">
    <div class="search-clear-button" (click)="clear()">Clear</div>
  </div>
</div>


<div class="pdfOverview-container">
  <div *ngFor="let pdf of pdfs" class="pdfbox" routerLink="/detail/{{pdf.id}}">
    <img src="data:image/jpeg;base64, {{pdf.picture}}" style="align-self: center; justify-self: center" width="125">
    <span title="{{pdf.title}}" style="align-self: center; justify-self: center; margin-top: 0.5em; cursor: default">{{pdf.title.substring(0, 150)}}</span>
  </div>
</div>
<mat-paginator class="pagination" [length]="total_number_of_pages"
               (page)="getNextPage($event)"
               [pageSize]="24"
               [hidePageSize]="true"
          >
</mat-paginator>


