
<div class="detail-navigation">
  <span class="return-to-overview" onclick="history.back()"> <span class="material-symbols-outlined return-to-overview-icon"> arrow_left_alt </span> Back to overview </span>
</div>

<div *ngIf="pdfDetails" class="detail-container">

  <div class="img-download-container">
    <img class="detail-image" src="data:image/jpeg;base64, {{pdfDetails.picture}}" width="60%">
    <span *ngIf="!editMode" class="download-view-button-container">
      <span class="button download" (click)="getPdf(true)">Download</span>
      <span class="button view" (click)="getPdf(false)">View</span>
    </span>
  </div>
  <div class="information-container unselectable">
    <span *ngIf="!editMode" class="detail-delete-edit">
      <span *ngIf="!editMode" class="detail-delete-edit-button edit-button" (click)="toggleEditMode()"><span class="material-symbols-outlined">edit</span></span>
      <span class="detail-delete-edit-button delete-button" (click)="deletePdf()"><span class="material-symbols-outlined">delete</span></span>
    </span>

    <span *ngIf="editMode" class="detail-delete-editing-info">
      <span class="edit-message">Currently Editing PDF</span>
      <span class="detail-delete-edit-button delete-button" (click)="deletePdf()"><span class="material-symbols-outlined">delete</span></span>
    </span>



    <mat-form-field id="input-form-field" appearance="outline" class="detail-title" floatLabel="always">
      <mat-label>Title</mat-label>
      <input id="input-title" matInput type="text" [(ngModel)]="pdfUpdate.title" [disabled]="!editMode">
    </mat-form-field>
    <mat-form-field appearance="outline" class="detail-title" floatLabel="always">
      <mat-label>Author</mat-label>
      <input matInput type="text" [(ngModel)]="pdfUpdate.author" [disabled]="!editMode" placeholder="">
    </mat-form-field>
    <div *ngIf="!editMode" class="uploaded-pages-container">
      <mat-form-field appearance="outline" class="uploaded-pages-form-field">
        <mat-label>Uploaded</mat-label>
        <input class="unselectable" matInput value="{{pdfDetails.uploaded | date:'MMM d, y, h:mm a'}}" disabled>
      </mat-form-field>
      <mat-form-field appearance="outline" class="uploaded-pages-form-field">
        <mat-label>Pages</mat-label>
        <input class="unselectable" matInput value="{{pdfDetails.pages}}" disabled>
      </mat-form-field>
    </div>

    <div *ngIf="!editMode" style="display: flex; margin-bottom: 2em">
      <mat-chip-listbox>
        <mat-chip *ngFor="let tag of pdfUpdate.tags" style="background-color: #b00909">
          {{tag}}
        </mat-chip>
      </mat-chip-listbox>
    </div>

    <mat-form-field *ngIf="editMode" class="chip-list" appearance="outline">
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipGrid>
        <mat-chip-row *ngFor="let tag of pdfUpdate.tags" [editable]="false" (removed)="remove(tag)" style="background-color: #b00909">
          {{tag}}
          <button matChipRemove><mat-icon style="color: white">cancel</mat-icon></button>
        </mat-chip-row>
        <input placeholder="Add tag..." [matChipInputFor]="chipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)"/>
      </mat-chip-grid>

    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Comments</mat-label>
      <textarea matInput [disabled]="!editMode" [(ngModel)]="pdfUpdate.comments"></textarea>
    </mat-form-field>

    <div *ngIf="editMode" class="delete-cancel-edit-container">
      <span class="cancel-edit-button cancel-button" (click)="cancelEdit()">Cancel</span>
      <span class="cancel-edit-button" (click)="saveEdit()">Save</span>
    </div>

  </div>

</div>


