
<div class="detail-navigation">
  <span class="return-to-overview" routerLink="/overview"> <span class="material-symbols-outlined" style="margin-right: 0.5em"> arrow_left_alt </span> Back to overview </span>
</div>

<div *ngIf="pdfDetails" class="detail-container">

  <div class="img-download-container">
    <img class="detail-image" src="data:image/jpeg;base64, {{pdfDetails.picture}}" width="60%">
    <span class="download-view-button-container">
      <span class="button download" (click)="getPdf(true)">Download</span>
      <span class="button view" (click)="getPdf(false)">View</span>
    </span>
  </div>
  <div class="information-container">
    <mat-form-field appearance="outline" class="detail-title">
      <mat-label>Title</mat-label>
      <input class="unselectable" matInput type="text" value="{{(!pdfDetails.title) ? 'N/A' : pdfDetails.title}}" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline" class="detail-title">
      <mat-label>Author</mat-label>
      <input class="unselectable" matInput type="text" value="{{(!pdfDetails.author) ? 'N/A' : pdfDetails.author}}" readonly>
    </mat-form-field>
    <div style="display: flex; flex-direction: row; justify-content: space-between">
      <mat-form-field appearance="outline" style="width: 48%">
        <mat-label>Uploaded</mat-label>
        <input class="unselectable" matInput readonly value="{{(!pdfDetails.uploaded) ? 'N/A' : pdfDetails.uploaded}}">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 48%">
        <mat-label>Pages</mat-label>
        <input class="unselectable" matInput readonly value="{{pdfDetails.pages}}">
      </mat-form-field>
    </div>

    <div style="display: flex; margin-bottom: 2em">
      <mat-chip-listbox>
        <mat-chip *ngFor="let tag of testChips" style="background-color: #b00909;">
          {{tag}}
        </mat-chip>
      </mat-chip-listbox>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Comments</mat-label>
      <textarea class="unselectable" matInput readonly>{{(!pdfDetails.comments) ? 'N/A' : pdfDetails.comments}}</textarea>
    </mat-form-field>

  </div>

</div>


