.file-upload-container {
  background-color: #b00909;
  width: 50%;
  max-width: 1000px;
  margin: 5em auto auto;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.upload-information {
  font-family: 'DM Sans', sans-serif;
  color: white;
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.upload-label {
  display: inline-flex;
  flex-direction: row;
  width: 30%;
  align-self: center;
  justify-content: center;
  color: #b00909;
  font-family: 'DM Sans', sans-serif;
  background-color: white;
  padding: 0.5em;
  border-radius: 7px;
  margin-bottom: 2em;
  text-align: center;
}

.file-upload-container input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.file-upload-overview-container {
  width: 50%;
  max-width: 1000px;
  margin: 4em auto auto;
  background-color: rgba(218, 218, 218, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.file-upload-overview-container h2 {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.file-upload-overview {
  width: 100%;
  max-width: 1000px;
  margin: 2em auto auto;
  background-color: transparent;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.file-upload-summary {
  width: 90%;
  padding: 0.7em;
  background-color: rgb(241, 241, 241);
  border-radius: 7px;
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 0.7em;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
}

.file-upload-summary:first-child {
  margin-top: 0.7em;
}

.upload-button-container {
  width: 50%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: 2em auto auto;
}

.upload-button {
  background-color: #b00909;
  color: white;
  padding: 0.75em 2em;
  border-radius: 8px;
  cursor: pointer;
}

.upload-button:hover {
  transform: scale(1.05);
  margin-bottom: 1em;
}

.pdf-upload-name {
  word-break: break-all;
  width: 85%;
}

.pdf-upload-trash-section {
  width: 15%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.pdf-upload-trash-icon {
  cursor: pointer;
}

.number-of-files-clear-container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.number-of-files {
  font-family: 'DM Sans', sans-serif;
  word-break: break-all;
}

.upload-clear-button {
  color: white;
  background-color: #a4a4a4;
  border-radius: 4px;
  padding: 0.5em 0.6em;
  cursor: pointer;
}

.upload-clear-button:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 3px gray;
}

.upload-file-icon {
  margin: 2em auto 0.75em;
  color: white;
  transform: scale(2.6);
}

.upload-spinner {
  width: 50%;
  max-width: 1000px;
  margin: 3em auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animation-trash:hover {
  animation: shakeMake 0.2s linear;
}


@keyframes shakeMake {
  0% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@media(max-width: 800px) {
  .file-upload-container {
    width: 95%;
  }

  .file-upload-overview-container {
    width: 95%;
  }

  .number-of-files-clear-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

}
